<%- include('./partials/Header') %>

<div class="flex w-[80vw] ml-[10vw] mb-10 max-md:flex-col items-center mt-[30vh] max-md:mt-5">
    <!-- IMAGE CONTAINER -->
    <div class="w-[50vw] h-[50vh] mt-[-45vh] max-md:mt-[0] overflow-hidden rounded-tr-[5vw] rounded-bl-[5vw] relative max-md:w-[90vw] max-md:h-[25vh]">
        <img class="h-full w-full object-cover object-center" src="/images/home.png" alt="">
        <div class="absolute top-0 w-full h-[20vh] text-white bg-[#935E1A] opacity-70 flex justify-start p-5 items-center max-md:h-[10vh]">
            <h1 class="font-semibold text-5xl max-md:text-xl">India Exim <br> Private Limited</h1>
        </div>
    </div>

    <div class="text-sm p-8 w-[90vw] max-md:mt-0 rounded-md max-md:bg-transparent max-md:p-0">    
        <p id="text1" class="overflow-hidden mt-2 max-md:mt-4">
            Under the visionary leadership of Mr. Gopal Das, INDIA EXPORT PVT. LTD. has not only sustained its legacy of quality but has also spearheaded initiatives toward sustainability and innovation in the export industry of India. His expertise and dedication has been pivotal in propelling the company to its status as a global leader in India’s export industry. <br>
                    INDIA EXPORT PVT. LTD. is a name that resonates across the export industry of India, admired and respected for its unwavering commitment to excellence and sustainability. Our dedication to quality has earned us a reputation for offering the highest-quality  products globally, setting new benchmarks in innovation and technology. <br>
                    We understand the importance of diversity, and that's why our range of products is vast and Our commitment to reliability and quality has fostered long-term partnerships with customers worldwide, including in Japan, Vietnam, Thailand, Malaysia, Singapore, Hong Kong, China, Korea, the Netherlands, France, Belgium, the United States, Mexico, the United Arab Emirates, Taiwan, and Brunei. 
            
        </p>
    </div>
</div>
<%- include('./partials/Footer') %>
