<%- include('./partials/Header') %>

<div class="flex justify-between ml-[6vw] max-md:ml-0 items-center mt-[30vh] mb-[10vh] max-md:flex-col-reverse max-md:mt-[1vh] max-md:gap-0">
    <!-- IMAGE CONTAINER -->

    <div class="text-sm mt-5 bg-zinc-200 max-md:mt-0  p-9 rounded-md  max-md:bg-transparent">
        <h1 class="font-extrabold text-3xl max-md:mt-2">Our Mission</h1>
        <p id="text1" class="overflow-hidden mt-2 max-md:mt-4 font-new">
            We strive to achieve our vision by sourcing the best quality products, utilizing state-of-the-art technology and processes, and fostering a culture of continuous improvement. At the same time, we recognize the importance of environmental stewardship and are committed to promoting sustainable practices and reducing our carbon footprint. Through our long-term partnerships with customers and suppliers, we aim to drive positive change throughout the export industry, promoting social responsibility and ensuring a healthy and thriving planet for generations to come.
            
        </p>
    </div>

    <div class="w-[40vw] h-[45vh] bg-blue-500 overflow-hidden rounded-tr-[5vw] rounded-bl-[5vw] flex-shrink-0 relative max-md:w-[90vw] max-md:h-[25vh]">
        <img class="h-full w-full object-cover" src="/images/Mission.jpeg" alt="">
    </div>
</div>
<%- include('./partials/Footer') %>
